.app {
    display: flex;
    flex-direction: column;
}

.main {
    gap: 3vw;
    display: flex;
    max-width: 980px;
    border: 1px solid red;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
}

.personal {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.language {
    display: flex;
    flex-direction: column;
}

.proficiency {
    display: flex;
}

.workForm {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

textarea  
{  
   
   font-family: 'Roboto', sans-serif;  
}

button {
    padding: 8px 24px;
    background-color: darkcyan;
    color: white;
    border-radius: 20px;
    border: 2px darkcyan solid;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 34, 34);
}

.input {
    display: flex;
    justify-content: space-between;
}

.add-button {
    cursor: pointer;
}