.app {
    display: flex;
    flex-direction: column;
    border: 0px purple dotted;
    width: 980px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkcyan;
}

.control-buttons{
    display: flex;
    gap: 0.5vw;
}

.main {
    gap: 2vw;
    display: flex;
    width: 100%;
    border: 0px solid red;
    min-height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 2;
    

}

.right-viewer {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    flex: 2;
    

}

.personal {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.language {
    display: flex;
    flex-direction: column;
}

.proficiency {
    display: flex;
}

.workForm {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

textarea  
{  
   
   font-family: 'Roboto', sans-serif;  
}

button {
    padding: 6px 16px;
    color: darkcyan;
    background-color: white;
    border-radius: 20px;
    border: 2px darkcyan solid;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
    color: white;
}

#editor-button{
    display: none;
}

.input {
    display: flex;
    justify-content: space-between;
}

.small-button {
    cursor: pointer;
}

.left-top {
    padding: 2vh 2vw;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.view-name {
    margin-top: 1vh;
    color: darkcyan;
    font-size: 2rem;
}

.view-last-name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1vh;
}

.left-bottom {
    background-color: #414143;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.personal-info-view{
    color: white;
    font-weight: 200;
    row-gap: 0.7vh;
    display: flex;
    flex-direction: column;

    
}

.view-personal-item {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.view-right-title {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    
}

.view-right-title-text{
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 2px dotted darkcyan;
}

#view-about {
    white-space: pre-line;
}